.price h2{
    margin-top: 20px;
}
.price{
    margin-top: 100px;
}

.mb{
    margin: 70px 0px;
    font-size: 25px;
    line-height: 60px;
    background-color: #152F56;
    color: white;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
}

.mb span{
    font-size: 40px;
}

@media screen and (max-width: 600px) {
    .mb{
        font-size: 20px;
    }
    .mb span{
        font-size: 30px;
    }
}